@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
/* general styling */
* {
  --primary-color: #195bdd;
  --table-border: #d7d7dc;
  --gray-1: #97979f;
}
body {
  font-family: "Roboto", sans-serif;

  line-height: 1.25;
  margin: 0;
  padding: 12px;
}

.ts-table-container {
  display: grid;
  grid-template-columns: 200px auto;
}

/* search bar. */
.table-header {
  background-color: #f5f5f6;
  padding: 12px 12px 12px 20px;
  border: 1px solid var(--table-border);
  border-bottom: 0;
}
.search-box {
  width: 100%;
  position: relative;
  display: flex;
  max-width: 400px;
}
.search-input {
  width: 100%;
  padding: 10px;
  padding-left: 0;
  border: 1px solid var(--table-border);
  border-radius: 0 6px 6px 0;
  border-left: 0;
  outline: none;
  font-size: 16px;
  color: tomato;
  background: none;
}
.search-button {
  text-align: center;
  height: 42px;
  width: 44px;
  outline: none;
  cursor: pointer;
  border: 1px solid var(--table-border);
  border-radius: 6px 0 0 6px;
  border-right: none;
  background: none;
  font-size: 20px;
  border-left: 1px solid var(--table-border);
}

.ts-aside {
  border: 1px solid var(--table-border);
  border-right: 0;
  padding: 16px 0;
}

.ts-nav-list {
  list-style: none;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
}
.ts-nav-list__title {
  font-weight: bold;
}
.ts-nav-list li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: #212126;
  background-color: #f2f5ff;
  transition: background-color 500ms ease-in-out;
}

.ts-nav-list li:not(.active) {
  background-color: transparent;
}
.ts-nav-list li:hover {
  background-color: #f2f5ff;
}

table {
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  font-weight: bold;
  color: #16182c;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
  text-align: left;
  font-weight: bold;
}

table,
thead,
tr {
  border: 1px solid var(--table-border);
  border-collapse: collapse;
}

table th,
table td {
  padding: 1rem 0.625rem;
  text-align: start;
  font-weight: bold;
}

table th {
  font-size: 1rem;
  text-transform: uppercase;
  white-space: nowrap;
}

.ts-user-name {
  margin-top: 0;
  color: var(--primary-color);
}
.ts-user-email {
  margin-bottom: 0;
  color: var(--gray-1);
}

@media screen and (max-width: 991px) {
  table {
    border: 0;
  }
  tr:not(:last-child) {
    border-bottom: none;
  }
  .ts-table-container {
    display: grid;
    grid-template-columns: 180px auto;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;

    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    display: block;
  }

  table td {
    display: block;
    font-size: 0.8rem;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    text-align: start;
  }

  table td:last-child {
    border-bottom: 0;
  }

  .table__data-row > td {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}
